* {
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

header {
    height: 64px;
    display: flex;
    justify-content: center;

    a {
        width: 174px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.36px;

        span{
            font-size: 19.85px;
            color: #C92071;
            font-weight: 600;
        }
    }
    
}

main {
    background: linear-gradient(#B5B6F2, #EFEFFF);
    padding: 63px 30px 80px;

    form{
        background: #FFF;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 4px;
        
        .title{
            h1{
                font-size: 22px;
                line-height: 34px;
                letter-spacing: 2px;
                text-align: center;
                color: #1F1F1F;
            }

            p{
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.25px;
                text-align: center;
                color: #474747;

                a{
                    text-decoration: underline;
                    color:#474747
                }

            }
        }
        .inputs{
            display: flex;
            flex-direction: column;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                label{
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.75px;
                    color: #474747;
                }

                input{
                    border: none;
                    border-radius: 8px;
                    background-color: #4747470a;
                    font-size: 16px;
                    padding: 16px 13px;
                    line-height: 28px;
                    outline-color: #C92071;
                }
            }
            }
        
        p {
            a{
                font-size: 14px;
                line-height: 22px;
                text-decoration: underline;
                letter-spacing: 0.25px;
                color:#474747
            }
        }

        button{
            height: 48px;
            background-color: #C92071;
            border: none;
            border-radius: 8px;
            color: #F5F5F5;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: .75px;
        }

        .others{
            margin: auto;

            p{
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: #474747;
            }

            ul{
                display: flex;
                justify-content: center;
                gap: 24px;
                margin-top: 20px;
                align-items:center;
            li{
                height: 24px;
                a{
                    display:block;
                    height: fit-content;

                    .email-icon{
                        margin-top: 2px;
                    }
                }
            }


            }
        }
    }
}

footer{
    background: #1F1F1F;
    padding: 50px 20px 46px;

    *{
        color: #FFF
    }

    .social{
        margin-bottom: 40px;
        .logo{
            display: flex;
            gap: 5.5px;
            margin-bottom: 20px;

            img{
                width: 22px;
            }
            span{
                font-size: 24.5px;
                font-weight: 600;

            }
        }
        p{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .25px;
            width: 300px;
            margin-bottom: 30px;
        }
        ul{
            display: flex;
            gap: 35px;

            img{
                height: 22px;
            }
        }
    }

    .information{
        display: flex;
        gap: 32px;
        margin-bottom: 40px;

        div{
            h2{
                font-size: 18px;
                font-weight: 600;
            }
            ul{
                a{
                    line-height: 31px;

                }
            }
        }
    }
    .contact{
        margin-bottom: 40px;

        h2{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        }
        address{
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap: 31px;

            a{
                line-height: 31px;
                width: 300px;
            }
        }
    }
    hr{
        border-color: #FFFFFF4D;
        margin-bottom: 23px;
    }
    small{
        display: block;
        text-align: center;
        line-height: 24px;
    }
}